/* * {
  color: #ffffff;
} */

h1 {
  color: #ffffff;
}
p {
  color: #ffffff;
}

.description_companyWebsiteUrl_and_icon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyWebsiteUrl_and_icon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #6366f1;
  font-size: 22px;
}
.website_link_icon {
  margin-left: 5px;
  color: #6366f1 !important;
}

.ul_skills_list {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.li_skill_item {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 20px;
}
.image_skill_item {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.name_skill {
}

.life_at_company_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.lifeatdescription {
  width: 50%;
}
.image_life_at_company {
  width: 50%;
  padding-left: 50px;
}

.label_to_jobDescription {
  font-weight: unset;
}

/* >>>>>>>>>>>>>>>>>Similar Jobs UL>>>>>>>>>>>>>>>>>>>>>>>>> */

.ul_similar_jobs_container {
  padding: 0;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.similarJobs_heading {
  padding-left: 5px;
  font-size: 30px;
  font-weight: unset;
}

/* >>>>>>>>>>>>>>>>>>>>>> media Queries >>>>>>>>>>>>>>>>> */

@media (max-width: 767px) {
  .image_skill_item {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .li_skill_item {
    /* list-style-type: none; */
    /* display: flex; */
    /* align-items: center; */
    width: 40%;
    /* margin-bottom: 20px; */
  }
  .life_at_company_container {
    display: block;
    width: 100%;
    justify-content: space-between;
  }
  .lifeatdescription {
    width: 100%;
  }
  .image_life_at_company {
    width: 100%;
    padding-left: 0;
  }
}
